<section class="page-header page-header-xlg parallax parallax-3" style="background-image:url('<%= asset_path '17-min.jpg' %>')">
  <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

  <div class="container">

    <h1><%= name %></h1>
    <span class="font-lato size-18 weight-300">Hack Your Life</span>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li class="active">Page Title</li>
    </ol><!-- /breadcrumbs -->

  </div>
</section>
<!-- /PAGE HEADER -->