<section class="page-header page-header-xlg parallax parallax-3" style="background-image:url('<%= asset_path 'parallax-transp.jpg' %>')">
  <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

  <div class="container">

    <h1><%= name %></h1>
    <span class="font-lato size-18 weight-300">Hack Your Life</span>
  </div>
</section>
<!-- /PAGE HEADER -->