<!--
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom

				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
<div id="header" class="static transparent clearfix">

  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">

      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <!-- BUTTONS -->
      <!--<ul class="pull-right nav nav-pills nav-second-main">-->
        <!---->
      <!--</ul>-->
      <!-- /BUTTONS -->
      <!-- Logo -->
      <a class="logo pull-left" href="index.html">
        <img src="<%= asset_path 'favicon_s.png' %>" alt="" />
      </a>
      <a href="#" class="logo pull-right">
        <img src="<%= asset_path 'avatar2.jpg' %>" alt="">
      </a>


    </div>
  </header>
  <!-- /Top Nav -->

</div>


<!--
  PAGE HEADER

  CLASSES:
    .page-header-xs	= 20px margins
    .page-header-md	= 50px margins
    .page-header-lg	= 80px margins
    .page-header-xlg= 130px margins
    .dark			= dark page header

    .shadow-before-1 	= shadow 1 header top
    .shadow-after-1 	= shadow 1 header bottom
    .shadow-before-2 	= shadow 2 header top
    .shadow-after-2 	= shadow 2 header bottom
    .shadow-before-3 	= shadow 3 header top
    .shadow-after-3 	= shadow 3 header bottom
    .light			= light page header
-->
<section class="page-header page-header-xlg parallax parallax-4" style="background-image:url('<%= asset_path 'parallax-transp.jpg' %>')">
  <div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>

  <div class="container">

    <h1>PAGE TITLE</h1>
    <span class="font-lato size-18 weight-300">We believe in Simple &amp; Creative</span>

    <!-- breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li class="active">Page Title</li>
    </ol><!-- /breadcrumbs -->

  </div>
</section>
<!-- /PAGE HEADER -->