<div class="comment-list">
<% case url %>
<% when :blog then
     id= :blog_id %>
<% end %>
<% count =0 %>
<% commentable.comments.each do |c| %>
    <!--count보다 더 많이 돌아가는 버그-->
    <% unless count >= commentable.comments.count %>
          <%= render 'comments/item', c: c, count: count, url: url %>
    <% end %>
    <% count+=1 %>
<% end %>
</div>