<!-- wrapper -->
<div id="wrapper">

  <!--
    SIDE MENU

    .sidebar-hidden = open only on click
  -->
  <%= render partial: "sticky/mainMenu" %>
  <!--
    SLIDER

    Classes:
      .fullheight = full height slider
  -->
  <section id="slider" class="fullheight" style="background-image:url('<%= asset_path 'background.jpg' %>')">
    <div class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></div>

    <div class="display-table">
      <div class="display-table-cell vertical-align-middle">
        <div class="container">

          <div class="slider-featured-text text-center">
            <h1 class="text-white wow fadeInUp" data-wow-delay="0.4s">

              <!--
                TEXT ROTATOR
                data-animation="fade|flip|flipCube|flipUp|spin"
              -->
              <span class="rotate" data-animation="flipCube" data-speed="2500">
										Hack Your Life, Hello World! , 아이디어를 실현하자
									</span>
            </h1>
            <br>
            <h2 class="weight-300 text-white wow fadeInUp" data-wow-delay="0.8s">당신이 꿈꾸는 모든 것</h2>
            <a class="btn btn-primary btn-lg wow fadeInUp" data-wow-delay="1s" href="#">어흥하러 가기</a>
          </div>

        </div>
      </div>
    </div>

  </section>

  <!--

  FULLWIDTH: OUTSIDE OF <section>

    Available Classes:
    alert-default
    alert-info
    alert-warning
    alert-danger
    alert-success
  -->

  <div class="callout alert alert-info noborder noradius nomargin">

    <div class="text-center">

      <h3>Call now at <strong>+800-565-2390</strong> and get 15% discount!</h3>
      <p class="font-lato size-20">
        We truly care about our users and our product.
      </p>

      <a href="#purchase" rel="nofollow" target="_blank" class="btn btn-default btn-lg margin-top-30">PURCHASE NOW</a>

    </div>

  </div>


  <!-- -->
  <section>
    <div class="container">

      <p class="lead">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies
        vehicula ut id elit.</p>
      <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id
        elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.
        Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit
        non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id
        ligula porta felis euismod semper.</p>

      <div class="row">

        <div class="col-md-6">
          <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula
            ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non
            commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet
            fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Vestibulum id ligula porta felis euismod semper.</p>
        </div>

        <div class="col-md-6">
          <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula
            ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non
            commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet
            fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Vestibulum id ligula porta felis euismod semper.</p>
        </div>

      </div>

    </div>
  </section>
  <!-- / -->


  <!-- -->
  <section>
    <div class="container">
      <div class="row">

        <div class="col-md-4">

          <div class="heading-title heading-border-bottom heading-color">
            <h3>Passion</h3>
          </div>

          <p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae
            philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>

          <a href="#">
            Read
            <!-- /word rotator -->
            <span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
            <i class="glyphicon glyphicon-menu-right size-12"></i>
          </a>

        </div>

        <div class="col-md-4">
          <div class="heading-title heading-border-bottom heading-color">
            <h3>Precision</h3>
          </div>
          <p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae
            philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>

          <a href="#">
            Read
            <!-- /word rotator -->
            <span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
            <i class="glyphicon glyphicon-menu-right size-12"></i>
          </a>

        </div>

        <div class="col-md-4">
          <div class="heading-title heading-border-bottom heading-color">
            <h3>Simplicity</h3>
          </div>
          <p>Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae
            philosophia cu mea. Utinam ipsum everti necessitatibus at fuisset splendide.</p>

          <a href="#">
            Read
            <!-- /word rotator -->
            <span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
            <i class="glyphicon glyphicon-menu-right size-12"></i>
          </a>

        </div>

      </div>

    </div>
  </section>
  <!-- / -->


  <!-- FOOTER -->
  <footer id="footer">
    <div class="copyright">
      <div class="container">
        <ul class="pull-right nomargin list-inline mobile-block">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li>&bull;</li>
          <li><a href="#">Privacy</a></li>
        </ul>
        &copy; All Rights Reserved, Company LTD
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '/assets/plugins/';</script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

<script type="text/javascript" src="/assets/js/scripts.js"></script>


<!-- SWIPER SLIDER -->
<script type="text/javascript" src="/assets/plugins/slider.swiper/dist/js/swiper.min.js"></script>
<script type="text/javascript" src="/assets/js/view/demo.swiper_slider.js"></script>