<div id="wrapper">

<!--
    SIDE MENU

    .sidebar-hidden = open only on click
  -->
    <%= render partial: "sticky/mainMenu" %>
    <%= render "sticky/pageHeader", name: "Board" %>
    <!--<section class="page-header dark page-header-xs">-->
      <!--<div class="container">-->

        <!--<h1>Board</h1>-->

        <!--&lt;!&ndash; breadcrumbs &ndash;&gt;-->
        <!--<ol class="breadcrumb">-->
          <!--<li><a href="/">Main</a></li>-->
          <!--<li class="active">Board</li>-->
        <!--</ol>&lt;!&ndash; /breadcrumbs &ndash;&gt;-->

      <!--</div>-->
    <!--</section>-->


    <!-- POST ITEM -->
    <div class="blog-post-item container" style="margin-top: 40px; padding-right: 100px; padding-left: 100px">



      <!-- go to write button-->
      <div align="right">
        <a class="btn btn-warning btn-lg wow fadeInUp" data-wow-delay="1s" href="common_post_new.html">New Post</a>
      </div><br>


      <!-- INLINE SEARCH -->
      <div class="inline-search clearfix margin-bottom-30">
        <form action="#" method="get" class="widget_search">

          <input type="search" placeholder="Start Searching..." id="search" name="search_box" class="serch-input">
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <!-- /INLINE SEARCH -->

      <!-- common_post 1 -->
      <h2><a href="common_post">common_post_title 1</a></h2> <p>First phrases of common_post_content</p>

      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato">Author</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato">common_post_created or edited time</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato"># of Comments</span>
          </a>
        </li>

      </ul>

      <!-- common_post 2 -->
      <h2><a href="common_post.html">common_post_title 2</a></h2> <p>First phrases of common_post_content</p>

      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato">Author</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato">common_post_created or edited time</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato"># of Comments</span>
          </a>
        </li>

      </ul>

      <!-- common_post 3 -->
      <h2><a href="common_post.html">common_post_title 3</a></h2><p>First phrases of common_post_content</p>

      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato">Author</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato">common_post_created or edited time</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato"># of Comments</span>
          </a>
        </li>

      </ul>

      <!-- common_post 4 -->
      <h2><a href="common_post.html">common_post_title 4</a></h2><p>First phrases of common_post_content</p>

      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato">Author</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato">common_post_created or edited time</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato"># of Comments</span>
          </a>
        </li>

      </ul>



      <!-- common_post 5 -->
      <h2><a href="common_post.html">common_post_title 5</a></h2> <p>First phrases of common_post_content</p>

      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato">Author</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato">common_post_created or edited time</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato"># of Comments</span>
          </a>
        </li>

      </ul>

      <!-- common_post 6 -->
      <h2><a href="common_post.html">common_post_title 6</a></h2> <p>First phrases of common_post_content</p>

      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato">Author</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato">common_post_created or edited time</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato"># of Comments</span>
          </a>
        </li>

      </ul>

      <!-- common_post 7 -->
      <h2><a href="common_post.html">common_post_title 7</a></h2><p>First phrases of common_post_content</p>

      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato">Author</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato">common_post_created or edited time</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato"># of Comments</span>
          </a>
        </li>

      </ul>

      <!-- common_post 8 -->
      <h2><a href="common_post.html">common_post_title 8</a></h2><p>First phrases of common_post_content</p>

      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato">Author</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato">common_post_created or edited time</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato"># of Comments</span>
          </a>
        </li>

      </ul>


    </div>
    <!-- /POST ITEM -->

    <!-- FOOTER -->
    <%= render partial: "sticky/footer" %>
</div>
<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
<%= render partial: "script"%>